/* Simple CSS */

html {
    font-size: 36pt;
    max-width: 50em;
    line-height: 1.5;
}

body {
    display: grid;
    grid-template-rows: 1fr auto 2fr;
    grid-template-columns: 100%;
}

#hello {
    text-align: center;
}

#button {
    text-align: center;
}
